-UNIT1.DFM
-UNIT1.PAS
-Unit1.dcu
.INF
002/
0321011010111002167924112022.txt
0321011010111002167925112022.txt
120739.txt
1_.php
2_.php
3.php
3_.php
AJBarcode.dcu
ARQUIVO
ATO_MF_DATA.TXT
Ajustar arquivos.txt
Auditoria_ECF FS700_erro_espelho_data.zip
Auditoria_ECF.txt
Auditoria_ECF_1.txt
Auditoria_ECF_espelho_data.txt
BE070771200000002411_20171108_085912.MF
BE070771200000002411_20171108_085912.TXT
BE070771200000002411_20171108_085935.MFD
BE070771200000002411_20171108_085935.TXT
BE070771200000002411_20171108_090113.MF
BE070771200000002411_20171108_090113.TXT
BE070771200000002411_20171108_090135.MFD
BE070771200000002411_20171108_090135.TXT
BE070771200000002411_20171227_111515.MF
BE070771200000002411_20171227_111515.TXT
BE070771200000002411_20171227_111539.MFD
BE070771200000002411_20171227_111539.TXT
BE070771200000003102008
BemaFI.dll v7.0.4.45.zip
BemaFI32.lib
BemaMFD3_04092019.log
BemaMFD3_06092022.log
BemaMFD3_11082021.log
BemaMFD3_21112022.log
BemaMFD3_22062020.log
BemaMFD3_22092020.log
BemaMFD3_26062020.log
Bematech 7.0.4.119.rar
Bematech 7.0.5.23_teste.rar
BlocoX/
CFeSAT/
CON5
CONSULTA PRECO.exe
CONTABIL/
CONTRA.ddp
CONVECF.lib
CONVEN~1.DFM
Casos erro arquivo 4.txt
DAVEMITIDOS.TXT
DBDWORK.INI
DLLS/
DLLSAT/
DOWNLOADMF.MF
DOWNLOADMF.TXT
DOWNLOADMFD.MFD
DOWNLOADMFD.MFD.S
DOWNLOADMFD.TXT
DR101500000000000346_20171218_100457_MF.LOG
DR101500000000000346_20171218_100520_MFD.LOG
DR101500000000000346_MFD_20180514_171909.bin
DR101500000000000346_MFD_20180514_172048.bin
Daruma.inf
Daruma.mf
Daruma.mfd
DarumaFrameWork - Copia.xml
DarumaFrameWork.xml
DarumaFrameWork_FS700.xml
DarumaFrameWork_FS800.xml
DarumaSat.txt
DelphiZXIngQRCode.dcu
DelphiZXIngQRCode.~pas
EP121510000000001682_20180503_090716_MF.LOG
EP121510000000001682_20180503_090725_MFD.LOG
EP121510000000001682_20181205_085241_MF.LOG
EP121510000000001682_20181205_085249_MFD.LOG
EP121510000000001682_20190503_143403_MF.LOG
EP121510000000001682_20190503_143450_MFD.LOG
ESPELHO_COO.TXT
ESPELHO_COO_T900F_INTERFACEEPSON_4.9.9.0.TXT
ESPELHO_DATA.TXT
EST0QUE.DAT
ESTOQUE__XMLRESPOSTA_2020062207000.xml
EditorDANFCe.exe
FIMSINTEGRA.TXT
FIMSPED.txt
FISCAL.PAS.bak
FISCAL.ddp
FISCAL.~PAS
FISCAL.~ddp
FISCAL.~dfm
FRENTE.exe
FRENTE.map
FRENTE.~DPR
FRENTE1.DFM
GNE_Framework.xml
HaxLogs.txt
HtmlHelp.dcu
IBPT_.off
INDTECPRO.TXT
InterfaceEpson.4.7.1.0.xml
InterfaceEpson.xml
LABELS.INI
LEIAME.txt
LISTA.COP
LISTA.TXT
LentidaoBEMATECHProva.jpg
Libs/
LogContingencia002.cds
LogContingencia665.cds
MFDBE111710101110021679_20210811_161647.TXT
MFDBE111710101110021679_20210811_161817.TXT
MFDBE111710101110021679_20221121_163034.TXT
MFDBE111710101110021679_20221121_163221.TXT
MSXML2_TLB.dcu
MSXML2_TLB.~pas
MSXML2_TLB_60.dcu
Movimentododia.txt
NFCE/
NFCE_erro soap ceara/
NFCe13200307426598000124650010001202091074265980.xml
NFE/
Novo Documento de Texto.txt
ORCAMENTOS/
Peedy.acs
REDUCAO_BE111710101110021679_XMLENVIO_2020072221000.xml
REGISTROS_DO_PAF_ECF_MENU_FISCAL.TXT
REGISTROS_DO_PAF_ECF_MENU_FISCAL_ANTES.TXT
REGISTROS_DO_PAF_ECF_MENU_FISCAL___.TXT
REGISTROS_DO_PAF_ECF_MENU_FISCAL_evidenciado.TXT
REGISTROS_DO_PAF_ECF_MENU_FISCAL_old.TXT
REGISTROS_DO_PAF_ECF_MENU_FISCAL_total.TXT
REGISTROS_DO_PAF_NFC_e_2022-02-07-11-20-18.TXT
RSA.BIN
Relatorios/
Ronei Ivo Weber.INF
Ronei.INF
SPED.ITF
SPED_erro.html
SWC.~NI
Sandro.INF
SelecionaCertificado.dcu
SelecionaCertificado.ddp
SelecionaCertificado.~ddp
SelecionaCertificado.~dfm
SelecionaCertificado.~pas
Status.bin
SynPDF-master/SynZip.dcu
SynopsePDF/SynCommons.dcu
SynopsePDF/SynCrypto.dcu
SynopsePDF/SynGdiPlus.dcu
SynopsePDF/SynLZ.dcu
SynopsePDF/SynPdf.dcu
SynopsePDF/SynZip.dcu
TABAFK~V
"Tabela de Mercadorias e Servi\303\247os.HTM"
Tabela evidencias.doc
UNIT5.ddp
UNIT5.~PAS
UNIT5.~ddp
UNIT5.~dfm
UNIT9.ddp
UNIT9.~PAS
UNIT9.~ddp
UNIT9.~dfm
Unit10.dcu
Unit10.ddp
Unit10.~ddp
Unit10.~dfm
Unit10.~pas
Unit11.dcu
Unit11.ddp
Unit11.~ddp
Unit11.~dfm
Unit11.~pas
Unit12.dcu
Unit12.ddp
Unit12.~ddp
Unit12.~dfm
Unit12.~pas
Unit13.dcu
Unit13.ddp
Unit13.~ddp
Unit13.~dfm
Unit13.~pas
Unit14.dcu
Unit14.ddp
Unit14.~ddp
Unit14.~dfm
Unit14.~pas
Unit15.dcu
Unit15.ddp
Unit15.~ddp
Unit15.~dfm
Unit15.~pas
Unit2.dcu
Unit2.ddp
Unit2.~ddp
Unit2.~dfm
Unit2.~pas
Unit22.dcu
Unit22.ddp
Unit22.~ddp
Unit22.~dfm
Unit22.~pas
Unit27.dcu
Unit27.ddp
Unit27.~ddp
Unit27.~dfm
Unit27.~pas
Unit3.dcu
Unit3.ddp
Unit3.~ddp
Unit3.~dfm
Unit3.~pas
Unit4.dcu
Unit4.ddp
Unit4.~ddp
Unit4.~dfm
Unit4.~pas
Unit5.dcu
Unit6.dcu
Unit6.ddp
Unit6.~ddp
Unit6.~dfm
Unit6.~pas
Unit7.dcu
Unit7.ddp
Unit7.dfm.bak
Unit7.~ddp
Unit7.~dfm
Unit7.~pas
Unit8.dcu
Unit8.ddp
Unit8.~ddp
Unit8.~dfm
Unit8.~pas
Unit9.dcu
VENDAS/
VENDAS_IDENTIFICADAS_PELO_CPF_CNPJ.TXT
VENDAS_IDENTIFICADAS_PELO_CPF_CNPJ.XML
VENDAS_IDENTIFICADAS_PELO_CPF_CNPJ.base64.xml
ValidadorFiscal.db
XmlDestinatario/
_OFF13.FDB
_Small_2.~pas
_Small_2_nova.~pas
_Small_5.~pas
_Small_59.~pas
_Small_8.~pas
_Small_IntegradorFiscal.dcu
_Small_IntegradorFiscal.~pas
__history/
_small_0.dcu
_small_0.~pas
_small_1.dcu
_small_1.~pas
_small_10.dcu
_small_10.~pas
_small_11.dcu
_small_11.~pas
_small_12.dcu
_small_12.~pas
_small_13.dcu
_small_13.~pas
_small_14.dcu
_small_14.~pas
_small_15.dcu
_small_15.~pas
_small_17.dcu
_small_17.~pas
_small_2.dcu
_small_3.dcu
_small_3.~pas
_small_4.dcu
_small_4.~pas
_small_5.dcu
_small_59.dcu
_small_6.dcu
_small_6.~pas
_small_65.dcu
_small_65.~pas
_small_7.dcu
_small_7.~pas
_small_8.dcu
_small_9.dcu
_small_9.~pas
_small_99.dcu
_small_99.~pas
alteraca.off
balanca/
base.icm
base64code.dcu
base64code.~pas
bemafi - Copia.xml
bemafi.xml
bemasat.xml
bin/
blocox.exe
blocox.~dpr
capicom_tlb.dcu
chave publica/
clifor.off
comdev.dat___
consulta.exe
convenio.off
e1_bridge_configs.json
ecfs.off
email.exe
email/
emitente.off
estoquedia/
etiquetas.inf
etiquetas.ini
event_101029.log
fiscal.dcu
fiscal.furb
formas.dcu
formas.ddp
formas.~ddp
formas.~dfm
formas.~pas
formas_pagamentos.tmp
frame_teclado_1.dcu
frame_teclado_1.ddp
frame_teclado_1.~ddp
frame_teclado_1.~dfm
frame_teclado_1.~pas
gerencial.rtm
icm.off
iphist.dat
log/
logErro/
mail.exe
mail.log
manutencao.xml
md5.dcu
md5cd.bat
md5lista.bat
merlin.acs
mfe_bematech_desconto_subtotal_certo.xml
mobile.exe
mobile/
msgws.dll_
msgws.map
msgws.~dpr
msxml5_tlb.dcu
nfce.ini
nfceDataSets_exception.log
nfce_exception.log
nfe.exe
nfe.ini
nfe_exception.log
off13.fdb
"pacotecjvd7sf_n\303\243o usado pode excluir/"
pesado.exe
poscheque.dat
quarck
reducoes.off
relacao.bat
resumovendas.txt
retaguarda.chm
sat_desconto_item.xml
servidorsat.exe
small.ini
small2.ico
small3.ico
small4.ico
smallcom.inf
spdLicenseNFCe.dat
superobject.dcu
synapse/SynaFpc.dcu
synapse/blcksock.dcu
synapse/httpsend.dcu
synapse/mimeinln.dcu
synapse/mimemess.dcu
synapse/mimepart.dcu
synapse/smtpsend.dcu
synapse/ssl_openssl.dcu
synapse/ssl_openssl_lib.dcu
synapse/synacode.dcu
synapse/synaip.dcu
synapse/synautil.dcu
synapse/synsock.dcu
szip.exe
tempo.xml
timerthread.dcu
tnpdf.dcu
tnpdf.~pas
uLkJSON.dcu
uajustaresolucao.dcu
uajustaresolucao.~pas
uarquivosblocox.dcu
uarquivosblocox.ddp
uarquivosblocox.~ddp
uarquivosblocox.~dfm
uarquivosblocox.~pas
uassinaxmlpafnfce.dcu
uassinaxmlpafnfce.~pas
uatualizaestruturadb.dcu
uatualizaestruturadb.~pas
ubematechbemaficlass.dcu
ubematechbemaficlass.~pas
ublocox.~pas
ublocox_unit1.dcu
ublocox_unit1.ddp
ublocox_unit1.~ddp
ublocox_unit1.~dfm
ublocox_unit1.~pas
ucadadquirentes.dcu
ucadadquirentes.ddp
ucadadquirentes.~ddp
ucadadquirentes.~dfm
ucadadquirentes.~pas
uclassestipoblocox.dcu
uclassestipoblocox.~pas
uclassetiposblocox.dcu
uclassetiposblocox.~pas
uclassetransacaocartao.dcu
uclassetransacaocartao.~pas
uclassexmlvendasat.dcu
uclassexmlvendasat.~pas
uclientetef.dcu
uclientetef.ddp
uclientetef.~ddp
uclientetef.~dfm
uclientetef.~pas
uconectapos.~pas
udadospos.dcu
udadospos.ddp
udadospos.~ddp
udadospos.~dfm
udadospos.~pas
udarumaframeworkclass.dcu
udarumaframeworkclass.~pas
ufrmitemgaleria.dcu
ufuncoesblocox.dcu
ufuncoesblocox.~pas
ufuncoesfrente.dcu
ufuncoesfrente.~pas
ufuncoesfrentepaf.dcu
ufuncoesfrentepaf.~pas
ufuncoestef.dcu
ufuncoestef.~pas
uimpressaopdf.dcu
uimpressaopdf.~pas
umfe.dcu
umfe.~pas
umontaxmlvendasat.dcu
umontaxmlvendasat.~pas
upafecfmensagens.dcu
upafecfmensagens.~pas
upafecfmenufiscal.dcu
upafecfmenufiscal.~pas
upafnfce.dcu
upafnfce.~pas
upesquisaparaimportar.dcu
upesquisaparaimportar.~ddp
upesquisaparaimportar.~dfm
upesquisaparaimportar.~pas
upromocoesscanntech.dcu
upromocoesscanntech.~pas
urecuperaxmlnfce.dcu
urecuperaxmlnfce.~pas
uregistrosdopaf.dcu
uregistrosdopaf.~pas
uregistrosdopafecf.dcu
uregistrosdopafecf.~pas
urelatoriosgerenciais.dcu
urelatoriosgerenciais.~pas
urequisitospafnfce.dcu
urequisitospafnfce.~pas
ushowvalidation.dcu
usincronizamobile.dcu
usincronizamobile.~pas
usmall_elginpay_pos.dcu
usmall_elginpay_pos.~pas
usmallblocox.~pas
usmallprint.dcu
usmallprint.~pas
usmallsat.dcu
usmallsat.pas.bak
usmallsat.~pas
usmallwebservice.dcu
usmallwebservice.~pas
utransacaocartao.dcu
utransacaocartao.~pas
vendedor.off
versaonfce.inc
vinculador/07426598000124.pem
vinculador/07426598000124_2013-2014.pem
vinculador/07426598000124_2014-2015.pem
vinculador/Certificado.pem
vinculador/smallsoft_2014_2015.pfx
vinculador/smallsoft_2015_2016.pfx
vinculador/uvinculador.dcu
vinculador/uvinculador.ddp
vinculador/uvinculador.~ddp
vinculador/uvinculador.~dfm
vinculador/uvinculador.~pas
vinculador/vinculador.cfg
vinculador/vinculador.dof
vinculador/vinculador.exe
wcrypt2.dcu
winmfd.bin
xmlvalidate.dcu
Tabela de Mercadorias e Serviços.HTM
pacotecjvd7sf_não usado pode excluir/
/BemaFI32.ini
msgws.dll
satdimep.ini
E1_Bridge01.dll
REGISTROS_DO_PAF_NFC_e_2023-02-13-09-41-01.TXT
REGISTROS_DO_PAF_NFC_e_2023-02-13-12-16-10.TXT
REGISTROS_DO_PAF_NFC_e_2023-02-13-12-16-43.TXT
REGISTROS_DO_PAF_NFC_e_2023-02-13-12-28-47.TXT
REGISTROS_DO_PAF_NFC_e_2023-02-13-17-12-56.TXT
REGISTROS_DO_PAF_NFC_e_2023-02-13-17-15-15.TXT
REGISTROS_DO_PAF_NFC_e_2023-02-13-17-17-48.TXT
REGISTROS_DO_PAF_NFC_e_2023-02-13-17-17-48.XML
REGISTROS_DO_PAF_NFC_e_2023-02-13-17-24-30.TXT
REGISTROS_DO_PAF_NFC_e_2023-02-13-17-24-30.XML
REGISTROS_DO_PAF_NFC_e_2023-02-14-14-56-56.TXT
REGISTROS_DO_PAF_NFC_e_2023-02-14-14-59-09.TXT
REGISTROS_DO_PAF_NFC_e_2023-02-14-14-59-09.XML
REGISTROS_DO_PAF_NFC_e_2023-02-14-15-02-36.TXT
REGISTROS_DO_PAF_NFC_e_2023-02-14-15-02-36.XML
REGISTROS_DO_PAF_NFC_e_2023-02-14-15-05-12.TXT
REGISTROS_DO_PAF_NFC_e_2023-02-14-15-05-12.XML
REGISTROS_DO_PAF_NFC_e_2023-02-14-15-11-02.TXT
REGISTROS_DO_PAF_NFC_e_2023-02-14-15-11-02.XML
