*.dcu
*.exe
*.htm
*.~*
/2022/ftpcompu.ddp
/2022/testenfe1.dof
/2022/testenfe1.cfg
/2022/002
/2022/atualiza
/2022/bema
/2022/chave publica
/2022/NFCE
/2022/NFE
/2022/NFeDataSetX
/2022/NFeX
/2022/NFSe
/2022/ORCAMENTOS
/2022/PAF2019
/2022/PAF2020
/2022/PAF2021
/2022/ChavesBiblPinPad
/2022/CONTABIL
/2022/DLLSAT
/2022/estoquedia
/2022/etiquetas
/2022/fci
/2022/gov
/2022/HTMLtoPDF
/2022/IBPT
/2022/log
/2022/LogErro
/2022/rar
/2022/rar_cd_
/2022/xmldestinatario
/2022/remessa
/2022/temp
/2022/tempo
/2022/XML
/2022/funcoes/SmallFunc.pas
.gitignore
2022/.inf
2022/.xml
2022/.zzz
2022/02.bmp
2022/03.bmp
2022/04.bmp
2022/04_07_2016Segu.rem
2022/05.bmp
2022/05_07_2016Terç.rem
2022/06.bmp
2022/06_07_2016Quar.rem
2022/07.bmp
2022/08.bmp
2022/09.bmp
2022/1.php
2022/10.bmp
2022/11.bmp
2022/11.gif
2022/11.png
2022/12.bmp
2022/13.bmp
2022/13.gif
2022/13.png
2022/14.bmp
2022/15.bmp
2022/15.gif
2022/15.png
2022/2.php
2022/20101120.F00
2022/3.GIF
2022/3.php
2022/30_06_2016Quin.rem
2022/42220907426598000124550010006701591004640327.xml
2022/42221007426598000124550020000103301004640328.xml
2022/42221007426598000124550020000103311004640325.xml
2022/42221007426598000124550020000103331004640320.xml
2022/5.GIF
2022/ANEXO V do Ato COTEPE-ICMS 6-08.doc
2022/APF_DLL2.DLL
2022/API232.DLL
2022/ARQUIVO
2022/ATO17.dll
2022/Atalho para cripta.exe.lnk
2022/Atalho para frente.exe.lnk
2022/Atalho para small8.exe.lnk
2022/BE091210100011209288.dia
2022/BemaFI32.dll
2022/BemaFI32.lib
2022/BemaFI64.dll
2022/BemaFI64.lib
2022/BemaMFD.dll
2022/BemaMFD2.dll
2022/BemaMFD2.log
2022/BemaMFD3.dll
2022/Bematech.dll
2022/CONVECF.dll
2022/CONVECF.lib
2022/CONVECF95.dll
2022/CONVECF98.dll
2022/CONVERSOR.dll
2022/CORRELACAO.TXT
2022/CalendarioP.bmp
2022/Copias.bat
2022/CurvaABCClientesG.gra
2022/CurvaABCClientesG_ok.png
2022/CurvaABCClientesP.gra
2022/CurvaABCClientesP_ok.png
2022/CurvaABCEstoqueG.gra
2022/CurvaABCEstoqueG_ok.png
2022/CurvaABCEstoqueP.gra
2022/CurvaABCEstoqueP_ok.png
2022/CurvaABCFornecedoresG.gra
2022/CurvaABCFornecedoresG_ok.png
2022/CurvaABCFornecedoresP.gra
2022/CurvaABCFornecedoresP_ok.png
2022/Cw3220.dll
2022/DLL1EFC3.DLL
2022/DLLG2.dll
2022/Daruma32.dll
2022/DarumaFrameWork.dll
2022/DarumaFrameWork.xml
2022/Daruma_Framework_2.47.chw
2022/DespesasMesG.gra
2022/DespesasMesG_ok.png
2022/DespesasMesP.gra
2022/DespesasMesP_ok.png
2022/DespesasUltimosAnosG.gra
2022/DespesasUltimosAnosG_ok.png
2022/DespesasUltimosAnosP.gra
2022/DespesasUltimosAnosP_ok.png
2022/E1_Bridge01.dll
2022/EST0QUE.DAT
2022/F.BAT
2022/FS345_32.dll
2022/FaturamentoMesG.gra
2022/FaturamentoMesG_ok.png
2022/FaturamentoMesP_ok.png
2022/FaturamentoUltimosAnosG.gra
2022/FaturamentoUltimosAnosG_ok.png
2022/FaturamentoUltimosAnosP.gra
2022/FaturamentoUltimosAnosP_ok.png
2022/FluxoDeCaixaG_ok.png
2022/FluxoDeCaixaP.GRA
2022/FluxoDeCaixaP_ok.png
2022/FluxoDecaixaG.GRA
2022/GNE_Framework.dll
2022/GovTLB.inc
2022/INICIAL/
2022/INPOUT32.DLL
"2022/Impressora pad*o do windows"
2022/Inadimplencia360DiasG.gra
2022/Inadimplencia360DiasG_ok.png
2022/Inadimplencia360DiasP.gra
2022/Inadimplencia360DiasP_ok.png
2022/Inadimplencia90DiasG.gra
2022/Inadimplencia90DiasG_ok.png
2022/Inadimplencia90DiasP.gra
2022/Inadimplencia90DiasP_ok.png
2022/InadimplenciaTotalDiasG_ok.png
2022/InadimplenciaTotalDiasP.gra
2022/InadimplenciaTotalDiasP_ok.png
2022/InterfaceEpson.dll
2022/InterfaceEpson.lib
2022/InterfaceEpson.xml
2022/LABELS.INI
2022/LISTA.TXT
2022/LOGODANFE.BMP
2022/LePeso.dll
2022/Leitura.dll
2022/LeituraMFDBin.dll
2022/Libs/
2022/Licence.dll
2022/LogoEmit.jpg
2022/LucroMesG.gra
2022/LucroMesG_ok.png
2022/LucroMesP_ok.png
2022/LucroUltimosAnosG.gra
2022/LucroUltimosAnosG_ok.png
2022/LucroUltimosAnosP.gra
2022/LucroUltimosAnosP_ok.png
2022/Mp20fi32.dll
2022/Novo.inf
2022/OFF13.FDB
2022/P05.dll
2022/PcScale.dll
2022/Peedy.acs
2022/QrCode_DarumaFramework.dll
2022/Quicksand_Book.ttf
2022/RSA.BIN
2022/RegistrosNoCadastroG.gra
2022/RegistrosNoCadastroG_ok.png
2022/RegistrosNoCadastroP.gra
2022/RegistrosNoCadastroP_ok.png
2022/RelacaoDespesas360G.gra
2022/RelacaoDespesas360G_ok.png
2022/RelacaoDespesas360P.gra
2022/RelacaoDespesas360P_ok.png
2022/RelacaoDespesasMesAnteriorG.gra
2022/RelacaoDespesasMesAnteriorG_ok.png
2022/RelacaoDespesasMesAnteriorP.gra
2022/RelacaoDespesasMesAnteriorP_ok.png
2022/RelacaoReceitas360G.gra
2022/RelacaoReceitas360G_ok.png
2022/RelacaoReceitas360P.gra
2022/RelacaoReceitas360P_ok.png
2022/SMALL.FDB
2022/STATUS.BIN
2022/SWecf.dll
2022/Sandro.inf
2022/Sclpars0.sys
2022/Status.ret
2022/Swmfd-connectc.dll
2022/Swmfd-connectc5.dll
2022/Swmfd.dll
2022/TRDECF32.dll
2022/Tec44Win.dll
2022/Thumbs.db
2022/UNIT13.FRM
2022/UniKey.dll
2022/VAI.BAT
2022/VendasAnoG.gra
2022/VendasAnoG_ok.png
2022/VendasAnoP.gra
2022/VendasAnoP_ok.png
2022/VendasG.gra
2022/VendasG_ok.png
2022/VendasMesG.gra
2022/VendasMesG_ok.png
2022/VendasMesP.gra
2022/VendasMesP_ok.png
2022/VendasP.gra
2022/VendasP_ok.png
2022/VendasParciaisG.gra
2022/VendasParciaisG_ok.png
2022/VendasParciaisP.gra
2022/VendasParciaisP_ok.png
2022/VendasPorVendedorG.gra
2022/VendasPorVendedorG_ok.png
2022/VendasPorVendedorMesAnteriorG.gra
2022/VendasPorVendedorMesAnteriorG_ok.png
2022/VendasPorVendedorMesAnteriorP.gra
2022/VendasPorVendedorMesAnteriorP_ok.png
2022/VendasPorVendedorP.gra
2022/VendasPorVendedorP_ok.png
2022/WHATSAPP.TXT
2022/WS_Framework.dll
2022/ajuda.txt
2022/aliases.conf
2022/alteraca.off
2022/ascii.txt
2022/ascii2.txt
2022/assina.bat
2022/assinatura_digital.bat
2022/atual.bat
2022/atualiza.ant
2022/atualiza_.bat
2022/atualizaftp.bat
2022/atualizas.bat
2022/banco001.bmp
2022/banco033.bmp
2022/banco041.bmp
2022/banco085.bmp
2022/banco104.bmp
2022/banco237.bmp
2022/banco341.bmp
2022/banco353.bmp
2022/banco409.bmp
2022/banco748.bmp
2022/banco756.bmp
2022/bat
2022/bemafi.xml
2022/bemafi32.ini
2022/bernardo.bat
2022/borlndmm.dll
2022/cad9.gdb
2022/cal.htl
2022/cce_exception.log
2022/cd.bat
2022/cd_.bat
2022/cd_X.bat
2022/cdftp.txt
2022/cdzip_.bat
2022/cdzip_x.bat
2022/clifor.off
2022/comms_101120_99.log
2022/confos.exp
2022/contas.exp
2022/contatos.png
2022/convenio.off
2022/conversor.ini
2022/conversor.log
2022/danfefurb.xps
2022/dbug.txt
2022/delzip179.dll
2022/delzip192.dll
2022/discos/
2022/dll32phi.dll
2022/dllinsce32.dll
2022/drop.sql
2022/elgin.dll
2022/emitente.off
2022/erro.wav
2022/estoque.off
2022/exemplo.fdb
2022/falta.txt
2022/faturamentomesP.gra
2022/fbclient.dll
2022/files.txt
2022/files1.txt
2022/fluxo.png
2022/foto.bmp
2022/frente.cop
2022/ftpibpt.txt
2022/fundopaf.bmp
2022/general32.dll
2022/html2pdf
2022/hwinterface.sys
2022/iCash.dll
2022/ibpt.bat
2022/ibptftp.txt
2022/icm.exp
2022/icm.off
2022/importac.ini
2022/inadimplencia90dias
2022/inadimplenciaTotalDiasG.gra
2022/lebin.dll
2022/libeay32.dll
2022/limpa.bat
2022/log.txt
2022/logodanfe_ok.bmp
2022/logofrente.bmp
2022/logonfe.bmp
2022/logonfse.jpg
2022/logopaf.bmp
2022/logotip.jpg
2022/lucromesP.gra
2022/mail.log
2022/meuftp.txt
2022/meuftp1.txt
2022/meuftpnfse.txt
2022/monitor.fdb
2022/monitor.ini
2022/mp20fi.ret
2022/msgws.dll
2022/msxml4.dll
2022/msxml5r.dll
2022/nfce.cop
2022/nfceDataSets_exception.log
2022/nfce_exception.log
2022/nfe.cop
2022/nfe.ini
2022/nfeServidoresHom.ini
2022/nfeServidoresProd.ini
2022/nfe_exception.log
2022/nfecorrigida.xps
2022/nfeeventos_exception.log
2022/nfse.bat
2022/nfse.txt
2022/nfseConfig.ini
2022/nota.exp
2022/nota1926.xps
2022/nota5926.xps
2022/off
2022/off.fdb
2022/padrao.fdb
2022/padrao.gra
2022/paisagem.rtm
2022/pmtg.dll
2022/poscheque.dat
2022/produtos.txt
2022/quarck
2022/registro_001.reg
2022/relatorio.rel
2022/res0000000001.jpg
2022/res0000000004.jpg
2022/restaurante.gdb
2022/retaguarda.chm
2022/retrato.rtm
2022/s.bat
2022/script.ftp
2022/scriptExport.cts
2022/script_conversao.txt
2022/servico.bat
2022/sign_bema.dll
2022/sintegra.gdb
2022/sma.bat
2022/small.ico
2022/small.ini
2022/small.manifest~
2022/small10.dp~
2022/small_aviso_promocao_1.bmp
2022/smallcom.inf
2022/smallsoft_code_2017.pfx
2022/smallsoft_code_2020.pfx
2022/smallsoft_code_2022.pfx
2022/spdLicenseNFSeV2.dat
2022/spdLicenseNFe.dat
2022/spedfiscal.dll
2022/ssleay32.dll
2022/szip
2022/t.bat
2022/tempo.nfe
2022/tempo.txt
2022/tempo.xml
2022/teste.bat
2022/teste.rel
2022/teste.txt
2022/teuftp.txt
2022/unins000.dat
2022/unit25.d~~
2022/unit25.p~~
2022/unit37.d~~
2022/unit37.p~~
2022/unit48.ddp_
2022/update.bat
2022/user1.ddp
2022/vendedor.off
2022/vendedores.gif
2022/vendedores.png
2022/versaonfe.inc
2022/volta.bat
2022/z.bat
Atualiza/INICIAL/
Atualiza/leia-me.txt
Balanca/P05.dll
Balanca/imagem123.bmp
Balanca/pesado.cfg
Balanca/prLeBal.cfg
CONVERSOR/INICIAL/
CONVERSOR/exemplo.fdb
CONVERSOR/iphist.dat
CONVERSOR/padrao.fdb
CONVERSOR/relacionamento/
CONVERSOR/small.ini
ENTRADA/2_.tmp
ENTRADA/IF/
ENTRADA/INSTALAR.opt
ENTRADA/PAF-ECF (Programa Aplicativo Fiscal)
ENTRADA/Thumbs.db
ENTRADA/exemplo.fdb
ENTRADA/exemplo.gdb
ENTRADA/firebird.log
ENTRADA/firebird.msg
ENTRADA/iphist.dat
ENTRADA/monitor.fdb
ENTRADA/off.fdb
ENTRADA/padrao.fdb
ENTRADA/padrao.gdb
ENTRADA/small.ini
Frente/
GRAFICS/
MOBILE/2.php
MOBILE/3.php
NFS-e/CHANGELOG.md
NFS-e/ExemploNFSeV2.cfg
NFS-e/ExemploNFSeV2.dof
NFS-e/ExemploNFSev2.dpr
NFS-e/LogoEmit.jpg
NFS-e/NFSE - Copia.cfg
NFS-e/NFSE.cfg
NFS-e/NFSE.dof
NFS-e/NFSE.res
NFS-e/NFSE1.dpr
NFS-e/NFSe/
NFS-e/README.md
NFS-e/SmallFunc.pas
NFS-e/TecnoNFSe.tx2
NFS-e/UExemploNFSeV2.ddp
NFS-e/UExemploNFSeV2.dfm
NFS-e/UExemploNFSeV2.pas
NFS-e/nfseConfig.ini
NFS-e/nfse_exception.log
NFS-e/smallmanifest.rc
NFS-e/smallmanifest.res
NFS-e/uemissornfse.ddp
ORCAME/.inf
ORCAME/.jpg
ORCAME/.pdf
ORCAME/Cal_ados.jpg
ORCAME/Celular.jpg
ORCAME/Eletrodomesticos.jpg
ORCAME/Eletrodoméstico.jpg
ORCAME/Ferramentas.jpg
ORCAME/HTMLtoPDF/
ORCAME/Inform_tica.jpg
ORCAME/LOGOTIP.BMP
ORCAME/Limpeza.jpg
ORCAME/Massas.jpg
ORCAME/Mercado.jpg
ORCAME/ORCA.TXT
ORCAME/ORCAME.BMP
ORCAME/ORCAMENTOS/
ORCAME/Pe_as.jpg
ORCAME/Ronei Ivo Weber.inf
ORCAME/SMALL.FDB
ORCAME/SmallFunc.pas
ORCAME/etiquetas.inf
ORCAME/logotip.jpg
ORCAME/small.ini
ORCAME/smallcom.inf
SQL Comando/small.ini
SQL Comando/teste.txt
SZIP/DefStr.bin
SZIP/Demos/
SZIP/ZMBaseOpr.pas
SZIP/unins000.dat
backup/BACKFILE.ZIP
backup/BACKUP.CNT
backup/BACKUP.DCR
backup/BACKUP.HLP
backup/LISTA.COP
backup/Project1.res
backup/Thumbs.db
backup/backfile.inf
backup/copias.THN
backup/copias.ant
backup/copias1.THN
backup/copias2.THN
backup/readme.txt
backup/res/
backup/smallzip.cfg
backup/smallzip.res
backup/teste.sma
carne/comercia.inf
carne/small.ini
carne/smallcom.inf
cripta/
graficos/2012.gra
graficos/CAIXA.GRA
graficos/DespesasUltimosAnosG.gra
graficos/FLUXO.GRA
graficos/VendasPorVendedorG.gra
graficos/despesasultimosanosg.png
graficos/fluxodecaixaG.GRA
graficos/fluxodecaixag.png
graficos/graficos.stat
graficos/graficos_Icon.ico
graficos/graficos_Icon1.ico
graficos/graficos_Icon2.ico
graficos/graficos_Icon3.ico
graficos/graficos_Icon4.ico
graficos/ico/
graficos/vendasporvendedorg.png
graficos/vendedores.gra
graficos/vendedores.png
mail/Mail.dproj
mail/Mail.dproj.local
mail/Mail.identcache
mail/Mail_Icon.ico
teste H/
update/.inf
update/1.php
update/EST0QUE.DAT
update/INICIAL/
update/Novo Documento de Texto.txt
update/retaguarda.chm
update/smallcom.inf
2022/Impressora padão do windows
2022/Smallsoft.inf
2022/small22.res.BASE.res
2022/small22.res.LOCAL.res
2022/small22.res.REMOTE.res
2022/boleto_000000001A.jpg
2022/boleto_000000001A.pdf
2022/boleto_000000001B.jpg
2022/boleto_000000001B.pdf
2022/boleto_000000002A.jpg
2022/boleto_000000002A.pdf
2022/boleto_0S0000002A.jpg
2022/boleto_0S0000002A.pdf
2022/boleto_0S0000003A.jpg
2022/boleto_0S0000003A.pdf
2022/boleto_0S0000006A.jpg
2022/boleto_0S0000007A.jpg
2022/boleto_0S0000008A.jpg
2022/boleto_0S0000009A.jpg
2022/boleto_0S0000010A.jpg
2022/boleto_0S0000011A.jpg
2022/boleto_0S0000012A.jpg
2022/boleto_0S0000013A.jpg
2022/boleto_0S0000014A.jpg
2022/boleto_0S0000015A.jpg
2022/boleto_AS0000003A.jpg
2022/boleto_AS0000004A.jpg
2022/boletos_07426598000124.pdf
2022/Sandro_cobranca.txt
2022/smallcom_old.inf
2022/Sandro_cobranca2.txt
2022/leia-me.txt
2022/boleto_0S0000005A.jpg
2022/boletos_59062185991.pdf
2022/boleto_*.*
2022/INVENTARIO.TXT
*.ddp
2022/small22.identcache
2022/small22.dproj.local
/2022/__recovery
2022/frames/__recovery/__recovery.ini
2022/frames/__recovery/uframeCampo.dfm
2022/frames/__recovery/uframeCampo.pas
2022/frames/__recovery/uframePesquisaPadrao.dfm
2022/frames/__recovery/uframePesquisaPadrao.pas
2022/frames/__recovery/uframePesquisaProduto.dfm
2022/frames/__recovery/uframePesquisaProduto.pas
